@import "variables";

#playground-area {
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 10%;
}

#players-desk,#houses-desk {
  width: 35%;
  display: inline-block;
  text-align: center;
}


#players-desk-icon-section {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
  margin-right: 10%;
  margin-left: 10%;
}

.icon {

  width: 100%;
  margin-top: 0.5rem;
  margin-left: 10%;
  margin-right: 10%;
}

.game-desk {
  width: 50%;
}


.choice-button {
  background-color: $background-color;
  border: $choice-button-text-color solid 0.15rem;
  color: $choice-button-text-color;
  border-radius: 3px;
  font-size: 1.2rem;

  &:hover {
    background-color: darkcyan;
    color: #5CDB95;
  }
}

#play-button {
  background-color: $background-color;
  width: 40%;
}
.icon{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
i{
  display:block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}