$font-size: 20px;
$font-size-medium: 1.5vw;
$nav-text-color: #EDF5E1;
$nav-background-color: #05386B;
$nav-hover-link:  #379683;
$background-color:#29ACC8;
$background-color-scoreboard:#1679A2;
$border-color:#1DC8A2;
$choice-button-text-color: #05386B;
